<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">
			{{displayName}}
		</h3>
	</div>
	<div class="panel-body">
		{{gravatar-image email=email alt=displayNAme size=200}}
		<dl>
			<dt>Email</dt>
			<dd>
				{{#mail-to email=email}}
					{{email}}
				{{/mail-to}}
			</dd>
		</dl>
	</div>
</div>
